:root {
  --primary-bg: white;
  --dark-bg: #1a2028;
  --transition-duration: 700ms;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue Thin", sans-serif;
}

.min-h-screen {
  min-height: 100vh;
  transition: background-color var(--transition-duration);
  background-color: var(--primary-bg);
  padding: 1rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  transition: color var(--transition-duration);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  max-width: 100%;
  margin: 0 auto;
}

.grid-item {
  position: relative;
  aspect-ratio: 4/5;
  background: #f0f0f0;
  overflow: hidden;
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease;
}

.view-toggle {
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  background: none;
  border: none;
  cursor: pointer;
}

.hidden {
  display: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  z-index: 10000;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1em;
}

.overlay-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-logo {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.site-logo h1 {
  color: #000;
  font-size: 25px;
  font-weight: 300;
  line-height: 1;
}

.nav {
  display: flex;
  gap: 1em;
}

.nav .nav-item p {
  font-size: 20px;
  font-weight: 300;
  cursor: pointer;
  transition: color 0.3s;
}

.nav .nav-item p:hover {
  color: #555;
}

